{% extends 'base.html.twig' %}

{% block title %}Consulter les restOorants{% endblock %}

{% block body %}

    <h2 class="text-center">Afficher les restOorants</h2>
    {% for OneResto in resto %}
        <tr>    
            <td>{{ OneResto.getRestoname() }}</td>
        </tr> 
    {% endfor %}   

{% endblock %}

