{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="m-5">

	{% if mes_erreurs is not empty %}
	        <div class="row justify-content-center">
	            <div class="alert alert-danger text-center col-lg-4">
	                {{ mes_erreurs|join('<br>')|raw }} 
	            </div>
	        </div>
	{% endif %}

		<form id="add_form" method="post" class="border">
			<p>
				<label for="nom">Nom d'établissement :</label>
				<input id="nom" type="text" name="nom">
			</p>
			<p>
				<label for="description">Description :</label>
				<textarea id="description" name="description" rows="10" cols="50"></textarea>
			</p>
			<p>
				<label for="type">Type de cuisine :</label>
				<select id="type" name="type">
					<option>Traditionnelle</option>
					<option>Asiatique</option>
					<option>Indienne</option>
					<option>Turque</option>
					<option>Marrocaine</option>
					<option>Italienne</option>
					<option>Russe</option>
					<option>Polonaise</option>
					<option>Autre</option>
				</select>
			</p>
			<p>
				<label for="street_num">N° de rue :</label>
				<input id="street_num" type="text" name="street_num">
			</p>
			<p>
				<label for="street_name">Nom de rue :</label>
				<input id="street_name" type="text" name="street_name">
			</p>
			<p>
				<label for="cp">Code postal :</label>
				<input id="cp" type="text" name="cp">
			</p>
			<p>
				<label for="ville">Ville :</label>
				<input id="ville" type="text" name="ville">
			</p>
			<p class="text-center">
				<input type="submit" name="envoyer" value="Valider">
			</p>
		</form>
</div>

{% endblock %}
