{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	{% if mes_erreurs is not empty %}
		<div class="row justify-content-center">
			<div class="alert alert-danger text-center col-lg-4">
				{{ mes_erreurs|join('<br>')|raw }} 
			</div>
		</div>
	{% elseif success == true %}
		<div class="alert alert-success text-center">Votre restaurant a bien été ajoutée</div>
	{% endif %}

	<div>
		<h2 class="text-center montserrat">Ajouter votre établissement</h2>
	</div>

	<div class="row justify-content-center py-4">

		<form id="add_form" method="post" class="border bg-light p-4" >
			<small>Les champs marqués d'une * sont obligatoires</small>
			<div class="form-group">
				<input id="nom" type="text" name="nom" placeholder="Nom d'établissement*" class="form-control" required>
			</div>
			<div class="form-group">
				<small>Veuillez sélectionner la photo de votre établissement
				<input type="file" name="photo">
			</div>
			<div class="form-group">
				<textarea id="description" name="description" rows="10" cols="50" placeholder="Description (Minimum 50 caractères)*" class="form-control" required></textarea>
			</div>
			<div class="form-group">
				<select id="type" name="type" class="form-control" required>
					<option disabled selected>Type de cuisine*</option>
					<option>Traditionnelle</option>
					<option>Asiatique</option>
					<option>Indienne</option>
					<option>Turque</option>
					<option>Tunisienne</option>
					<option>Anglaise</option>
					<option>Marrocaine</option>
					<option>Italienne</option>
					<option>Russe</option>
					<option>Polonaise</option>
					<option>Autre</option>
				</select>
			</div>
			<div class="form-group">
				<input id="internet" type="text" name="internet" placeholder="Adresse internet" class="form-control" >
			</div>
			<div class="form-group">
				<input id="phone" type="text" name="phone" placeholder="N° de téléphone" class="form-control" >
			</div>
			<div class="form-group">
				<input id="street_num" type="text" name="street_num" placeholder="N° de rue*" class="form-control" required>
			</div>
			<div class="form-group">
				<input id="street_name" type="text" name="street_name" placeholder="Nom de rue*" class="form-control" required>
			</div>
			<div class="form-group">
				<input id="cp" type="text" name="cp" placeholder="Code postal*" class="form-control" required>
			</div>
			<div class="form-group">
				<input id="ville" type="text" name="ville" placeholder="Ville*" class="form-control" required>
			</div>
			<div class="text-center">
				<button type="submit" class="btn w-100" name="envoyer"><img src="/img/logo/logo-go.png" width="180" height="60" class="d-inline-block align-top img-fluid" alt=""></button>
			</div>
		</form>

	</div>


{% endblock %}
