{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav.html.twig" %}
    {% endblock %}
    
    {% block body %}
    <div class="container">
        <h2 class="text-center">Mon compte</h2>

        
        <div class="row pt-5">
            
            {# Partie sur les infos du profil #}
            <div class="col-6">

                <h3 class="py-4">Modifier mes Infos</h3>

                <form action="POST">

                    <h4>Photo de profil</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="file" class="inputAvatar" name="avatar" id="avatar">
                            <label for="avatar"><img src="/img/profil/avatar.png" height="150px" alt="Votre photo de profil" title="Photo du profil"><i class="fas fa-camera"></i></label>
                        </div>
                    </div>

                    <h4>Information générales</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <input type="number" class="form-control" name="siren" id="siren" placeholder="SIREN" disabled>
                        </div>
                    </div>

                    <h4>modifier le mdp</h4>
                    <div class="form-row my-3">
                        <div class="col">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe (8 caractères min.)">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <div class="col">
                            <input type="password" class="form-control" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe">
                        </div>
                    </div>

                    <div class="form-row my-3">
                        <button type="submit" class="btn btn-success">Enregister les modifications</button>
                    </div>
                </form>
                {# If particulier #}
            </div>    

            {# Partie sur les ajout et vu d'activité #}
            <div class="col-6">

                <h3 class="py-4">Activité professionnelle</h3>

                <h4>Ajouter un buisness</h4>

                    <a href="">Ajouter un restau</a> <br>
                    <a href="">Ajouter une sortie</a> <br>
                    <a href="">Ajouter une activité</a> <br>

                <h4>Mes buisness</h4>

                    

            </div>

        </div> {# Fin de div row #}

    </div> {# Fin de div Container #}
     {% endblock %}