
<!-- Barre nav du footer avec les liens (Mentions légales et Contactez-nous) -->
<footer class="text-center">
    <div class="d-flex justify-content-center mb-2">
        <nav class="navbar navbar-dark text-light">
            <a class="navbar-brand" href="http://127.0.0.1:8000/mentions-legales">Mentions légales</a>
        </nav>

        <nav class="navbar navbar-dark text-light">
            <span class="navbar-brand mb-0 h1">/</span>
        </nav>

        <nav class="navbar navbar-dark text-light">
            <a class="navbar-brand" href="http://127.0.0.1:8000/contactez-nous">Contactez-nous</a>
        </nav>
    </div>

    <!-- Le copyright -->
    <p class="text-light">
        Copyright &copy;2019 OOKAN-Toulouse
    </p>

    
    <!-- Les images des partenaires -->
    <img src="img/footer/logo1.png" alt="La région occitanie">

    <img src="img/footer/logo3.png" alt="Toulouse métropole">

    <img src="img/footer/logo2.png" alt="Haute-Garonne Tourisme">
</footer>
