<footer class="text-center">
    <p>
        Copyright &copy;2019 OOKAN-Toulouse
    </p>

    <div class="d-flex justify-content-center">
        <nav class="navbar navbar-dark text-light">
            <a class="navbar-brand" href="#">Mentions légales</a>
        </nav>

        <nav class="navbar navbar-dark text-light">
            <span class="navbar-brand mb-0 h1">/</span>
        </nav>

        <nav class="navbar navbar-dark text-light">
            <a class="navbar-brand" href="#">Contactez-nous</a>
        </nav>
    </div>


</footer>
