	<footer>
		<p>
			Copyright &copy;2019 OOKAN-Toulouse | 
		</p>
        <p>
            RAISON SOCIALE: OOKAN-Toulouse
            FORME JURIDIQUE: SARL au capital de 1€
            ADRESSE: 244 route de Seysses 31100 Toulouse
            MAIL: OOKAN@gmail.com
            RCS TOULOUSE: 12345678900010
            APE: 9101Z 

            HEBERGEMENT: OVH SAS
            ADRESSE: 2 rue Kellerman BP 80157 ROUBAIX CEDEX 1
            TEL: 1007
            MAIL: cil@ovh.net

            Enregistré auprès de la CNIL sous le numéro 01598985
            Conformément à la Loi Informatique et Libertés du 6 Janvier 1978 modifiée, 
            vous possédez le droit d'accès, de rectification et de suppression des données vous concernant.
            Vous pouvez adresser votre demande à OOKAN@gmail.com
        </p>
	</footer>
</body>
</html>