
<!-- Barre nav du footer avec les liens (Mentions légales et Contactez-nous) -->
<footer class="text-center">
    <div class="d-flex justify-content-center mb-2">
        <nav class="navbar navbar-dark text-light">
            <a class="navbar-brand" href="{{path('mentions')}}">Mentions légales</a>
        </nav>

        <nav class="navbar navbar-dark text-light">
            <span class="navbar-brand mb-0 h1">/</span>
        </nav>

        <nav class="navbar navbar-dark text-light">
            <a class="navbar-brand" href="{{path('contact')}}">Contactez-nous</a>
        </nav>
    </div>

    <!-- Les images des partenaires -->
    <a href="https://www.laregion.fr/" target="_blank"><img src="/img/footer/logo1.png" alt="La région occitanie"></a>
    
    <a href="https://www.toulouse-metropole.fr/" target="_blank"><img src="/img/footer/logo3.png" alt="La région occitanie"></a>
    
    <a href="https://www.hautegaronnetourisme.com" target="_blank"><img src="/img/footer/logo2.png" alt="La région occitanie"></a>
    
        <!-- Le copyright -->
    <p class="text-light">
         &copy; 2019 OOKAN-Toulouse
    </p>

</footer>
