<header class="d-flex flex-column justify-content-center align-items-center">
	<h1 class="text-center text-light">Ookan - Toulouse</h1>
	<p class="text-center text-light">... Site en construction ...</p>
</header>
<div class="container-fluid text-center bg-dark">
	<ul class="d-flex justify-content-center text-light">
		<li class="my-2 mx-5 d-block text-center"><h2>Sortir</h2></li>
		<li class="my-2 mx-5 d-block text-center"><h2>Manger</h2></li>
		<li class="my-2 mx-5 d-block text-center"><h2>Activités</h2></li>
	</ul>
</div>