<header class="d-flex flex-column justify-content-center align-items-center">
	<h1 class="text-center text-light">Ookan - Toulouse</h1>
	<p class="text-center text-light">... Site en construction ...</p>
</header>
<div class="container-fluid text-center bg-light">
	<ul class="d-flex justify-content-center">
		<li class="my-2 mx-5 d-block text-center"><h4><a style="text-decoration:none" class="nav-visite" href="#" >Les Oo Sorties</a></h4></li>
		<li class="my-2 mx-5 d-block text-center"><h4><a style="text-decoration:none" class="nav-visite" href="#">Les Oo Restos</a></h4></li>
		<li class="my-2 mx-5 d-block text-center"><h4><a style="text-decoration:none" class="nav-visite" href="#">Les Oo Activités</a></h4></li>
	</ul>
</div>