<header class="d-flex flex-column justify-content-center align-items-center">

<img src="/img/header/toulouse.jpg" class="img-fluid" alt="Responsive image">
	
</header>
<div class="container-fluid text-center bg-light">
	<ul class="d-flex justify-content-center">

		<li id="li-visite" class="my-2 mx-5 d-block text-center"><h4><a style="text-decoration:none" class="nav-visite" href="{{ path('les_sorties')}}" >Les Oo Sorties</a></h4></li>
		<li id="li-visite" class="my-2 mx-5 d-block text-center"><h4><a style="text-decoration:none" class="nav-visite" href="{{ path('les_restos')}}">Les Oo Restos</a></h4></li>
		<li id="li-visite" class="my-2 mx-5 d-block text-center"><h4><a style="text-decoration:none" class="nav-visite" href="{{ path('les_activites')}}">Les Oo Activités</a></h4></li>

	</ul>
</div>