<header class="d-flex flex-column justify-content-center align-items-center">
<h1 class="text-center text-light">Ookan - Toulouse</h1>
<p class="text-center text-light">... Site en construction ...</p>
</header>