<nav class="navbar navbar-light bg-light">
    <ul class="nav justify-content-center w-100">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Ookan
            </a>
        </li>
    </ul>
</nav>

    
  