<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Ookan
    </a>
               
    <ul class="nav justify-content-end">
        <li class="nav-item">
            Bonjour
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">User</a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" href="#">Photo</a>
        </li>
    </ul>
</nav> 