<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/logo/logo-ookan.png" width="210" height="60" class="d-inline-block align-top" alt="">
    </a>
               
    <ul class="nav justify-content-end">
        <li class="nav-item">
            Bonjour
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">User</a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" href="#">Photo</a>
        </li>
    </ul>
</nav> 