<nav class="navbar navbar-light sticky-top bg-light">

    <a class="navbar-brand" href="{{path('accueil')}}">

        <img src="/img/logo/logo-ookan.png" width="250" height="70" class="d-inline-block align-top" alt="Petit logo Ookan">

    </a>
               
    <ul class="nav justify-content-end">

        

        <li class="nav-item dropdown">

			<a class="nav-link dropdown-toggle montserrat text-dark mr-5" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bienvenue <span class="gold-ookan">{{ app.session.get('pseudo') }}</span></a>

		    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

			    <a class="dropdown-item montserrat" href="{{path('user_profile')}}">Mes infos</a>
			    <a class="dropdown-item montserrat" href="{{path('disconnect')}}">Déconnexion</a>
		    </div>
        </li>
        
    </ul>
    
</nav> 