<nav class="navbar navbar-light sticky-top bg-light">
    <ul class="nav justify-content-center w-100">
        <li class="nav-item">
            <a class="nav-link" href="{{path('accueil')}}">
                <img src="/img/logo/logo-ookan.png" width="210" height="60" class="d-inline-block align-top" alt="">
            </a>
        </li>
    </ul>
</nav>

    
  