<nav class="navbar navbar-light sticky-top bg-light">
    <a class="navbar-brand" href="{{path('accueil')}}">
            <img src="/img/logo/logo-ookan.png" width="250" height="70" class="d-inline-block img-fluid align-top" alt="Ookan">
    </a>
           
    <ul class="nav justify-content-end">
        <li class="nav-item ml-5 mr-2">
            <a class="montserrat grey-ookan font-weight-bold nav-link btn" href="{{ path('inscription_choix') }}">InscriptiOon</a>
        </li>
        <li class="nav-item ml-2 mr-5">
            <a class="montserrat grey-ookan font-weight-bold nav-link btn" href="{{ path('connect') }}">ConnexiOon</a>
        </li>
    </ul>
</nav>