#add_form, label{
	display: inline-block;
	width: 30%;
}

body {
	background-color: #EEEEEE;
}

.encart {
	border: 1px solid grey;
	color: black;
}

#cards {
	margin-left: 6rem;
	margin-right: 6rem;
}

.vignette{
	max-width: 15rem;
}