/*** BOUTTON HAUT DE PAGE ***/
#scrollUp {
    position: fixed;
	bottom : 1rem;
	left: -4rem;
    opacity: 1;
    font-size: 3rem;
}

/*** BODY ***/

#add_form, label{
	display: inline-block;
	width: 30%;
}

body {
	background-color: #EEEEEE;
}

.encart {
	border: 1px solid grey;
	color: black;
}

#cards {
	margin-left: 6rem;
	margin-right: 6rem;
}

.vignette{
	max-width: 15rem;
}


/* Système de notation */
.rating {
	font-size: 1.2em;
}
.rating a {
	/* J'inverse le sens des étoiles avec float */
	float: right;
	color: #4a5058;
	text-decoration: none;
	transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
	/* Je fais en sorte que les étoiles positionnées avant se colore également */
	color: #e3ad5a;
	cursor: pointer;
}

.rated-star {
	color: #e3ad5a;
}

