.montserrat {
	font-family: 'Montserrat';
}

.roboto {
	font-family: 'Roboto';
}

.gold-ookan {
	color: #e3ad5a;
}

.grey-ookan {
	color: #4a5058;
}

.page-title {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2.4em;
	text-shadow: 0 2px #000;
	color: #4a5058;
}

#li-visite .nav-visite{
	text-decoration: none;
    color: #4a5058;
}

header ul li {
	padding: 1em;
}

header ul li i {
	font-size: 3em;
}

li {display:inline-block;min-width:50px;}
li h4 {
    text-decoration:none;
    text-align: center;
    color: #444444;
}
li h4:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
li h4:hover:after {
	width: 90%;
	background: #444;
} 



