#li-visite .nav-visite{
	text-decoration: none;
    color: #444444;
}

#li-visite .nav-visite:after {
	content: '';
	display: block;
	height: 1px;
	width: 0;
	margin: auto;
	color: #444444;
	transition: width .5s ease, background-color .5s ease;
}
#li-visite .nav-visite:hover:after {
	width: 100%;
	background: #444;
	color: #444444;	
}