.inputAvatar {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fa-camera {
    position: absolute;
    z-index: 1;
    font-size: 2em;
    top: 70%;
    right: 71%;
}