{% extends 'base.html.twig' %}

{% block body %}
 
<div class="container">


	<div class="text-center">
		<img src="/img/logo/slogan.png" class="img-fluid" width="700" >
	</div>

	<div class="row mt-5">
	<div class="col-8">
	<p class="roboto">
	Un restaurant ? Une sortie ce soir ? Vous êtes au bon endroit !
	<br>
	Ce site regroupe diverses activités (cinémas, musées, événements....) Après une activité, un bon repas serait le bienvenu, vous pourrez donc trouver de bonnes adresses de restaurant et si vous avez un doute sur le choix du restaurant, vous pouvez consulter les commentaires et les notes des membres Ookan.
	<br>
	Ne perdez plus de temps, inscrivez-vous et faites nous partager votre expérience !</p>
	</div>

	<div class="col-4">
		<img src="/img/header/toulouse2.jpg" width="350" class="img-fluid">
	</div>

	</div>



	<h2 class="text-center mt-5 mb-2 montserrat">Toulouse</h2>

			<p class="roboto">Toulouse, capitale de la région Languedoc-Roussillon-Midi-Pyrénées dans le sud de la France, est traversée par la Garonne et se situe près de la frontière espagnole. Elle est surnommée "la ville rose" en raison des briques en terre cuite composant la plupart de ses bâtiments. Datant du XVIIe siècle, le canal du midi relie la Garonne à la mer Méditerranée et peut être parcouru en bateau, ou longé en vélo ou à pied. </p>
			
</div>
{% endblock %}