{% extends 'base-accueil.html.twig' %}

{% block body %}
 
<div class="container">

	<p class="text-center montserrat">
	Un restaurant ? Une sortie ? Vous êtes au bon endroit !
	<br>
	Ne perdez plus de temps, inscrivez-vous et faites nous partager votre expérience !
	<p>

	<div class="row mt-5 encart text-white mb-5" style="border-radius:10px">

		<div class="col-8">

			<h3 class="montserrat pt-3">TOULOUSE</h3>

			<p>Dans le sud-ouest de la France, Toulouse est une ville de contrastes. Visitez l'Académie des Jeux Floraux, la société littéraire la plus ancienne du monde occidental, ainsi que la Galerie du Château d'eau, le premier musée de photographie au monde. Promenez-vous le long de la Garonne avant de découvrir le plus bel orgue de France à la basilique Saint-Sernin. Malgré son architecture médiévale, Toulouse reste une ville moderne, berceau de l'industrie aérospatiale européenne, et les bars et restaurants animent la place du Capitole.</p>
			
		</div>

		<div class="col-4">
			<img src="/img/header/toulousin.jpg" width="350" class="img-fluid p-3">
		</div>

	</div>

</div>
{% endblock %}