{% extends 'base.html.twig' %}

{% block body %}
 
<div class="container">

	<div class="row mt-5 w-100 bg-secondary text-white mb-5">

		<div class="col-8 d-flex align-items-center">
			<p class="text-center roboto">
			Un restaurant ? Une sortie ? Vous êtes au bon endroit !
			<br>
			Ne perdez plus de temps, inscrivez-vous et faites nous partager votre expérience !</p>
		</div>

		<div class="col-4">
			<img src="/img/header/toulouse2.jpg" width="350" class="img-fluid p-3">
		</div>

	</div>

</div>
{% endblock %}