{% extends 'base.html.twig' %}

{% block body %}
 
<div class="container">


<h2 class="text-center">Présentation du site</h2>
	<p>Bienvenue sur notre site Ookan, ce site a été créé par des Toulousains, pour des Toulousains mais aussi pour ceux qui veulent découvrir Toulouse.

		Vous chercher une activité à faire dans la journée dans cette belle ville. Un restaurant ? Une sortie à faire le soir ? Alors vous êtes au bon endroit !

		Ce site regroupe diverses activités (cinémas, musées, événements....) Après une activité, un bon repas serait le bienvenu, vous pourrez donc trouver de bonnes adresses de restaurant et si vous avez un doute sur le choix du restaurant, vous pouvez consulter les commentaires et les notes des membres "d'Ookan". 
		Ne perdez plus de temps, inscrivez-vous, et faites nous partager votre expérience !</p>

<h2 class="text-center mt-5 mb-2">Présentation de Toulouse</h2>

        <p>Toulouse, capitale de la région Languedoc-Roussillon-Midi-Pyrénées dans le sud de la France, est traversée par la Garonne et se situe près de la frontière espagnole. Elle est surnommée "la ville rose" en raison des briques en terre cuite composant la plupart de ses bâtiments. Datant du XVIIe siècle, le canal du midi relie la Garonne à la mer Méditerranée et peut être parcouru en bateau, ou longé en vélo ou à pied. </p>
</div>
{% endblock %}