{% extends "base.html.twig" %}

 


    {% block body %}
        <div class="container my-5">
            
            <ul class="progressive-bar pb-5">
                <li class="active">Profil</li>
                <li class="active">Inscription</li>
                <li class="active">Réussite</li>
            </ul>

            <h2 class="text-center text-success montserrat py-4">Inscription réussie <i class="far fa-check-circle"></i></h2>
            
            <h4 class="text-center montserrat">Bienvenue chez Ookan</h4>

            <p class="text-center montserrat">Pour commencer, vous pouvez compléter votre profil en cliquant <a href="{{ path('user_profile') }}">ici</a>.</p>


        
        <!-- Fin de div class container -->
        </div>
    {% endblock %}

