{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav.html.twig" %}
    {% endblock %}


    {% block body %}
        <div class="container my-5">
            
            <ul class="progressive-bar">
                <li class="active">Profil</li>
                <li class="active">Inscription</li>
                <li class="active">Réussite</li>
            </ul>

            <h2 class="text-center text-success">Inscription réussite <i class="far fa-check-circle"></i></h2>
            
            <p class="text-center">Bienvenue chez Ookan</p>

            <p class="text-center">Pour commencer, vous pouvez compléter votre profil en cliquant <a href="{{ path('user_profile') }}">ici</a>.</p>


        
        <!-- Fin de div class container -->
        </div>
    {% endblock %}

