{% extends "base.html.twig" %}




    {% block body %}
        <div class="container my-5">
            
            <ul class="progressive-bar">
                <li class="active montserrat">Profil</li>
                <li class="montserrat">Inscription</li>
                <li class="montserrat">Réussite</li>
            </ul>
            
            <div class="row justify-content-center pt-5">
            
                <div class="col-lg-3 col-md-5 col-sm-12 m-4 bg-light choice-div py-4">
                    <div>
                        <h5 class="text-center montserrat">Professionnel</h5>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <p>Pour les professionnels désireux de booster leur(s) activité(s)</p>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <ul class="possibilities-list">
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Référencez votre commerce ou vos événements
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Intégrez le classement par avis Ookan
                            </li>

                        </ul>
                    </div>
                    <div class="text-center">
                        <a class="nav-link btn" href="{{ path('inscription_pro') }}"><img src="/img/logo/logo-go.png" width="180" height="60" class="d-inline-block align-top img-fluid" alt=""></a>
                    </div>
                    
                </div>  
                
                <div class="col-lg-3 col-md-5 col-sm-12 m-4 bg-light choice-div py-4">
                    <div>
                        <h5 class="text-center montserrat">Toulousain(e)</h5>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <p>Pour les Toulousain(e)s en quête de nouvelles idées</p>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <ul class="possibilities-list">
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Partagez vos avis avec les utilisateurs du site
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Accès gratuit à des centaines d'avis  
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a class="nav-link btn" href="{{ path('inscription_particulier') }}"><img src="/img/logo/logo-go.png" width="180" height="60" class="d-inline-block align-top img-fluid" alt=""></a>
                        
                    </div>
                </div>

            <!-- Fin de div.row -->
            </div>
        
        <!-- Fin de div.container -->
        </div>
    {% endblock %}