{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav-logo-middle.html.twig" %}
    {% endblock %}


    {% block body %}
        <div class="container my-5">

            <div class="row justify-content-center">
            
                <div class="col-3 m-4 bg-light choice-div py-4">
                    <div>
                        <h5 class="text-center">Profil Professionnel</h5>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <ul class="possibilities-list">
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Ajoutez des 
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Boostez votre activitée
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Boab
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('inscription_pro') }}" class="btn btn-success">Je suis un professionnel</a>
                    </div>
                </div>  
                
                <div class="col-3 m-4 bg-light choice-div py-4">
                    <div>
                        <h5 class="text-center">Profil Toulousain(e)</h5>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <ul class="possibilities-list">
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Blabka
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> bla
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Boab
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('inscription_particulier') }}" class="btn btn-success">Je suis un(e) Toulousain(e)</a>
                    </div>
                </div>

            <!-- Fin de div.row -->
            </div>
        
        <!-- Fin de div.container -->
        </div>
    {% endblock %}