{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav-logo-middle.html.twig" %}
    {% endblock %}


    {% block body %}
        <div class="container my-5">

            <div>

            </div>

            <div class="row justify-content-center">
                <form class="bg-light p-4 border">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Entrez votre adresse Email">
                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais vos informations personnelles</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Entrez un mot de passe (8 caractères min.)">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Me connecter</button>
                    </div>
                </form>
            </div>
        
        <!-- Fin de div class container -->
        </div>
    {% endblock %}