{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav-logo-middle.html.twig" %}
    {% endblock %}


    {% block body %}
        <div class="container my-5">
            
            <ul class="progressive-bar">
                <li class="active">Profil</li>
                <li>Inscription</li>
                <li>Réussite</li>
            </ul>
            
            <div class="my-5">
                <h2 class="text-center">Sélectionnez un profil</h2>
            </div>
            
            <div class="row justify-content-center">
            
                <div class="col-3 m-4 bg-light choice-div py-4">
                    <div>
                        <h5 class="text-center">Profil Professionnel</h5>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <p>Pour les professionnels désireux de booster leur(s) activité(s)</p>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <ul class="possibilities-list">
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Ajoutez des Fred
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Fred chauve
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Fred Imberbe
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('inscription_pro') }}" class="btn btn-success">Je suis un professionnel</a>
                    </div>
                </div>  
                
                <div class="col-3 m-4 bg-light choice-div py-4">
                    <div>
                        <h5 class="text-center">Profil Toulousain(e)</h5>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <p>Pour les Toulousain(e)s en quête de nouvelles idées</p>
                    </div>
                    <hr class="under-profile-hr">
                    <div>
                        <ul class="possibilities-list">
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Fred Chauve
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Fred nul au ping-pong
                            </li>
                            <li class="possibilities-list-item">
                                <i class="fas fa-check"></i> Fred nul sur Apex
                            </li>
                        </ul>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('inscription_particulier') }}" class="btn btn-success">Je suis un(e) Toulousain(e)</a>
                    </div>
                </div>

            <!-- Fin de div.row -->
            </div>
        
        <!-- Fin de div.container -->
        </div>
    {% endblock %}