{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav.html.twig" %}
    {% endblock %}


    {% block body %}
        <div class="container my-5">
            
            <ul class="progressive-bar">
                <li class="active">Profil</li>
                <li class="active">Inscription</li>
                <li class="active">Réussite</li>
            </ul>

            <h2 class="text-center">ISNCRIPTION REUSSITE</h2>
            
            
        
        <!-- Fin de div class container -->
        </div>
    {% endblock %}

