<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include "partials/head.html.twig" %}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include 'partials/nav.html.twig' %}
        {% endblock %}

        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        

        



        {% block body %}{% endblock %}

        
        {% include 'partials/footer.html.twig' %}

        {% include "partials/javascript.html.twig" %}
        
    </body>
</html>
