<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include "partials/head.html.twig" %}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% if app.session.get('connected') == 'true' %}

                {% include 'partials/nav-connected.html.twig' %}            
            {% else %}

                {% include 'partials/nav.html.twig' %}
            {% endif %}
         
        {% endblock %}

        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}


        {% block body %}{% endblock %}

        {% include 'partials/scrollUp.html.twig' %}


        
        {% include 'partials/footer.html.twig' %}

        
        
        {% block js %}
            {% include "partials/javascript.html.twig" %}
        {% endblock %}
    </body>
</html>
