{% extends "base.html.twig" %}

        <!-- Links -->
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="css/footer.css" rel="stylesheet">
        <link href="css/header.css" rel="stylesheet">       
        {% endblock %}

        
    </head>

    {% include "partials/nav-logo-middle.html.twig" %}

    {% include "partials/header.html.twig" %}

    {% block nav %}
        {% include "partials/nav-logo-middle.html.twig" %}
    {% endblock %}


    {% block body %}
        <div class="container my-5">
            <div class="row justify-content-center">
                <form class="bg-light border p-4 col-lg-4 col-md-6 col-10">
                    <div class="form-group">
                        <input type="email" class="form-control" name="" id="" placeholder="Adresse Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="" id="" placeholder="Mot de passe">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="" id="" >
                        <label class="form-check-label" for="exampleCheck1">Rester connecté ?</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Me connecter</button>
                </form>
            </div>
        </div>
    {% endblock %}
