{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav.html.twig" %}
    {% endblock %}

    {% block body %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <form method="post" action="mailer.php" class="bg-light border p-4 col-lg-4 col-md-6 col-10">
                <h2 class="p-3">Contactez-nOous</h2>
                <div class="form-group">
                    <label for="name">Votre nom</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="exemple@gmail.com">
                </div>
                <div class="form-group">
                    <label for="email">Adresse mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="exemple@gmail.com">
                </div>
                <div class="form-group">
                    <label for="demande">Type de demande</label>
                    <select class="form-control" id="demande" name="demande">
                        <option>Bug technique</option>
                        <option>Information erronée dans le contenu</option>
                        <option>Suggérer une amélioration</option>
                        <option>Signaler un abus</option>
                        <option>Autre</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Dites-nous en plus</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="6" placeholder="Entrez ici votre message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}

