{% extends "base.html.twig" %}



    {% block body %}

    {% if success is not empty %}
        <div class="alert alert-success">
            {{ success|join('<br>')|raw }}
        </div>    
    {% elseif not_success is not empty %}
        <div class="alert alert-danger">
            {{ not_success|join('<br>')|raw }}
        </div>    
    {% endif %}


    
    <div class="container my-5 montserrat">
        <h3 class="pb-2 text-center montserrat grey-ookan">Contactez-nous</h3>
        
        <div class="row justify-content-center">

            <form method="post" class="bg-light border p-4 col-lg-4 col-md-6 col-10 {% if disp_none is not empty %} {{ disp_none }} {% endif %}">

                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Dupont">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="exemple@gmail.com">
                </div>
                <div class="form-group">
                    <label for="demande">Type de demande</label>
                    <select class="form-control" id="demande" name="demande">
                        <option>Bug technique</option>
                        <option>Information erronée dans le contenu</option>
                        <option>Suggérer une amélioration</option>
                        <option>Signaler un abus</option>
                        <option>Autre</option>
                    </select>
                </div>
                <div class="form-group text_center">
                    <label for="exampleFormControlTextarea1">Dites-nous en plus</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="6" placeholder="Entrez ici votre message"></textarea>
                </div>
                <button type="submit" class="btn text_center "><img src="/img/logo/envoyer.png" width="180" height="60" class="d-inline-block align-top img-fluid" alt=""></button>
            </form>
        </div>
    </div>
    
{% endblock %}

