{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav.html.twig" %}
    {% endblock %}


    <div class="container my-5">
        <div class="row justify-content-center">
        <h2 class="p-3">Mentions Légales</h2>
            <ul>
                <li>RAISON SOCIALE: OOKAN.FR</li>
                <li>FORME JURIDIQUE: SARL au capital de 2€</li>
                <li>ADRESSE: 244 route de Seysses 31100 Toulouse</li>
                <li>MAIL: OOKAN@gmail.com</li>
                <li>RCS TOULOUSE: 12345678900010</li>
                <li>APE: 9101Z (Gestion des bibliothèques et des archives)</li>
                
                <li>HEBERGEMENT: OVH SAS</li>
                <li>ADRESSE: 2 rue Kellerman BP 80157 ROUBAIX CEDEX 1</li>
                <li>TEL: 1007</li>
                <li>MAIL: cil@ovh.net</li>

                <li>Enregistré auprès de la CNIL sous le numéro xxxxxxxx</li>
                <li>Conformément à la Loi Informatique et Libertés du 6 Janvier 1978 modifiée, vous possédez le droit d'accès, de rectification et de suppression des données vous concernant. Vous pouvez adresser votre demande à wf3toulouse@gmail.com</li>
            </ul>
        </div>
    </div>
{% endblock %}