{% extends "base.html.twig" %}

    {% block nav %}
        {% include "partials/nav.html.twig" %}
    {% endblock %}

    {% block body %}

    <div class="container">

        <div class="row">

            <div class="bd-example w-100">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    </ol>

                    <div class="carousel-inner justify-content-center w-100">

                        <div class="carousel-item active w-100">
                            <div class="w-100">
                                <figure class="">
                                    <img class="team-photo" src="img/ookanteam/jonathan.jpg" class="d-block w-100" alt="...">
                                </figure>
                                <figcaption>
                                    <h5 class="text-center">Jonathan Continente</h5>
                                    <p class="text-center mb-5">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </figcaption>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="w-100">
                                <figure>
                                    <img class="team-photo" src="img/ookanteam/steph.jpg" class="d-block w-100" alt="...">
                                </figure>
                                <figcaption>
                                    <h5 class="text-center">Stéphane Marc</h5>
                                    <p class="text-center mb-5">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </figcaption>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="w-100">
                                <figure>
                                    <img class="team-photo" src="img/ookanteam/remy.jpg" class="d-block w-100" alt="...">
                                </figure>
                                <figcaption>
                                    <h5 class="text-center">Rémy Schoenberger</h5>
                                    <p class="text-center mb-5">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </figcaption>
                            </div>
                        </div>

                        <div class="carousel-item justify-content-center">
                            <div class="w-100">
                                <figure>
                                    <img class="team-photo" src="img/ookanteam/fred.jpg" class="d-block w-100" alt="...">
                                </figure>
                                <figcaption>
                                    <h5 class="text-center">Frédéric Zorilla</h5>
                                    <p class="text-center mb-5">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </figcaption>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="w-100">
                                <figure>
                                    <img class="team-photo" src="img/ookanteam/jordan.jpg" class="d-block w-100" alt="...">
                                </figure>
                                <figcaption>
                                    <h5 class="text-center">Jordan Poujol</h5>
                                    <p class="text-center mb-5">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </figcaption>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>

        </div> {# Fin de div row #}

    </div> {# Fin de div container #}
    
    {% endblock %}