{% extends "base.html.twig" %}

{% block body %}
                {% if mes_erreurs is not empty %}
            <div class="alert alert-danger">
                {{ mes_erreurs|join('<br>')|raw }} 
            </div>
        {% elseif mes_validation is not empty %}    
            <div class="alert alert-success text-center">
                {{ mes_validation|join('<br>')|raw 
            }} 
            </div>
        {% endif %}
        <div class="container my-5">

            <h3 class="pb-2 text-center montserrat">Mot de passe oublier</h3>

            <div class="row justify-content-center">

                <form class="bg-light border p-4 col-lg-4 col-md-6 col-10 montserrat" method="post">

                    <div class="form-group">
                        <label class="w-100 form-check-label" for="">Votre email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                    
                <button type="submit" class="btn text-center grey-ookan">Env<scan class="gold-ookan">Oo</scan>yer</button>                    
                </form>
            </div>
        </div>
    {% endblock %}