{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	{% if mes_erreurs is not empty %}
		<div class="row justify-content-center">
			<div class="alert alert-danger text-center col-lg-4">
				{{ mes_erreurs|join('<br>')|raw }} 
			</div>
		</div>
	{% endif %}

	<div>
		<h2 class="text-center montserrat">Ajouter votre lieu ?</h2>
	</div>

	<div class="row justify-content-center py-4">

		<form id="add_form" method="post" class="border bg-light p-4">
			<div class="form-group">
				<input id="nom" type="text" name="nom" placeholder="Nom d'établissement" class="form-control" required>
			</div>
			<div class="form-group">
				<textarea id="description" name="description" rows="10" cols="50" placeholder="Description (Minimum 50 caractères)" class="form-control" required></textarea>
			</div>
			<div class="form-group">
				<select id="type" name="type" class="form-control" required>
					<option disabled selected>Type d'ambiance ?</option>
					<option>Lounge</option>
					<option>Brasserie</option>
					<option>Chic</option>
					<option>Boite</option>
					<option>Dansant</option>
					<option>Décontracté</option>
					<option>Autre</option>
				</select>
			</div>
			<div class="form-group">
				<input id="street_num" type="text" name="street_num" placeholder="N° de rue" class="form-control" required>
			</div>
			<div class="form-group">
				<input id="street_name" type="text" name="street_name" placeholder="Nom de rue" class="form-control" required>
			</div>
			<div class="form-group">
				<input id="cp" type="text" name="cp" placeholder="Code postal" class="form-control" required>
			</div>
			<div class="form-group">
				<input id="ville" type="text" name="ville" placeholder="Ville" class="form-control" required>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-secondary w-100" name="envoyer">Valider</button>
			</div>
		</form>

	</div>


{% endblock %}
