{% extends 'base.html.twig' %}

{% block title %}Hello ActivitesController!{% endblock %}

	{% block body %}

		<div>
			<h2 class="text-center montserrat">Ajouter votre activité ?</h2>
		</div>

		<div class="row justify-content-center py-4">

			<form id="add_form" method="post" class="border bg-light p-4">
				<small>Les champs marqués d'une * sont obligatoires</small>
				<div class="form-group">
					<input id="nom" type="text" name="nom" placeholder="Nom de l'activité (Ex: Exposition au musée...)*" class="form-control" required>
				</div>
				<div class="form-group">
					<textarea id="description" name="description" rows="10" cols="50" placeholder="Description (Minimum 50 caractères)*" class="form-control" required></textarea>
				</div>
				<div class="form-group">
					<input id="contact" type="text" name="contact" placeholder="Moyen de contact*" class="form-control" required>
				</div>
				<small>Adresse de l'activité</small>
				<div class="form-group">
					<input id="street_num" type="number" name="street_num" placeholder="N° de rue*" class="form-control" required>
				</div>
				<div class="form-group">
					<input id="street_name" type="text" name="street_name" placeholder="Nom de rue*" class="form-control" required>
				</div>
				<div class="form-group">
					<input id="cp" type="text" name="cp" placeholder="Code postal*" class="form-control" required>
				</div>
				<div class="form-group">
					<input id="ville" type="text" name="ville" placeholder="Ville*" class="form-control" required>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-secondary w-100" name="envoyer">Valider</button>
				</div>
			</form>

		</div>
	{% endblock %}
